In [1]:
%matplotlib inline

In [2]:
import pandas as pd

In [35]:
cols=['date','serial_number','failure','smart_5_normalized','smart_5_raw','smart_187_normalized','smart_187_raw','smart_188_normalized','smart_188_raw','smart_197_normalized','smart_197_raw','smart_198_normalized','smart_198_raw']

In [40]:
df = pd.DataFrame(pd.read_csv('2017-10-01.csv', usecols=cols))

In [42]:
df = df.fillna(0)
df.head()

,date,serial_number,failure,smart_5_normalized,smart_5_raw,smart_187_normalized,smart_187_raw,smart_188_normalized,smart_188_raw,smart_197_normalized,smart_197_raw,smart_198_normalized,smart_198_raw
0,2017-10-01,Z305B2QN,0,100,0,100.0,0.0,100.0,0.0,100,0,100,0
1,2017-10-01,PL1331LAHG1S4H,0,100,0,0.0,0.0,0.0,0.0,100,0,100,0
2,2017-10-01,ZA16NQJR,0,100,0,100.0,0.0,100.0,0.0,100,0,100,0
3,2017-10-01,ZA18CEBT,0,100,0,100.0,0.0,100.0,0.0,100,0,100,0
4,2017-10-01,ZA18CEBS,0,100,0,100.0,0.0,100.0,0.0,100,0,100,0

In [44]:
df.describe()

,failure,smart_5_normalized,smart_5_raw,smart_187_normalized,smart_187_raw,smart_188_normalized,smart_188_raw,smart_197_normalized,smart_197_raw,smart_198_normalized,smart_198_raw
count,88157.000000,88157.000000,88157.000000,88157.000000,88157.000000,88157.000000,8.815700e+04,88157.000000,88157.000000,88157.000000,88157.000000
mean,0.000057,102.532902,2.157242,69.602187,0.036072,69.638259,2.889133e+07,102.534206,0.078383,101.316515,0.075286
std,0.007531,17.689017,174.582928,45.963696,0.699310,45.982201,1.403029e+09,17.678990,2.791364,13.984094,2.785292
min,0.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,99.000000,0.000000,99.000000,0.000000
25%,0.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,100.000000,0.000000,100.000000,0.000000
50%,0.000000,100.000000,0.000000,100.000000,0.000000,100.000000,0.000000e+00,100.000000,0.000000,100.000000,0.000000
75%,0.000000,100.000000,0.000000,100.000000,0.000000,100.000000,0.000000e+00,100.000000,0.000000,100.000000,0.000000
max,1.000000,252.000000,40528.000000,100.000000,48.000000,100.000000,1.932765e+11,252.000000,448.000000,252.000000,448.000000

In [46]:
df_fail = df[df['failure'] == 1]

In [47]:
df_fail

,date,serial_number,failure,smart_5_normalized,smart_5_raw,smart_187_normalized,smart_187_raw,smart_188_normalized,smart_188_raw,smart_197_normalized,smart_197_raw,smart_198_normalized,smart_198_raw
10537,2017-10-01,Z3022DKK,1,100,0,100.0,0.0,100.0,0.0,100,0,100,0
23228,2017-10-01,Z304PFSA,1,99,552,86.0,14.0,100.0,0.0,100,24,100,24
28295,2017-10-01,Z302NSPV,1,100,8,93.0,7.0,100.0,0.0,100,0,100,0
68986,2017-10-01,PL1331LAHBG6ZH,1,100,0,0.0,0.0,0.0,0.0,100,0,100,0
82397,2017-10-01,W300JEZZ,1,100,0,100.0,0.0,100.0,0.0,100,0,100,0

In [48]:
def smart_binary(a):
    if a == 0:
        return 0
    elif a > 0:
        return 1

In [58]:
df['smart_5_binary'] = (df['smart_5_raw']!=0).astype('int')

In [59]:
df.head()

,date,serial_number,failure,smart_5_normalized,smart_5_raw,smart_187_normalized,smart_187_raw,smart_188_normalized,smart_188_raw,smart_197_normalized,smart_197_raw,smart_198_normalized,smart_198_raw,smart_5_binary
0,2017-10-01,Z305B2QN,0,100,0,100.0,0.0,100.0,0.0,100,0,100,0,0
1,2017-10-01,PL1331LAHG1S4H,0,100,0,0.0,0.0,0.0,0.0,100,0,100,0,0
2,2017-10-01,ZA16NQJR,0,100,0,100.0,0.0,100.0,0.0,100,0,100,0,0
3,2017-10-01,ZA18CEBT,0,100,0,100.0,0.0,100.0,0.0,100,0,100,0,0
4,2017-10-01,ZA18CEBS,0,100,0,100.0,0.0,100.0,0.0,100,0,100,0,0